# Don't track this file with your DB password!
.env

# Ignore Python cache folders and files
__pycache__/
*.pyc

# Ignore virtual environment folder
venv/

# Ignore editor settings
.vscode/
